
 <button type="button" ng-click="vm.addShop();"  class="btn btn-md btn-info">Добавить магазин</button>
<div ng-repeat="shop in vm.currentOrganization.shops " class="col-lg-3 col-md-4 col-sm-6 col-xs-12">      
 <form class="jumbotron well" editable-form name="editableForm" onaftersave="vm.saveShop(shop)">

                      <div> 
                          <span class="title">Имя: </span>
                         <span e-required editable-text="shop.name">{{ shop.name|| "empty" }}</span>
                      </div>
                      <div> 
                          <span class="title"> Город : </span>
                         <span  e-required editable-text="shop.city">{{ shop.city|| "empty" }}</span>
                      </div>
                        <div> 
                          <span class="title">Адрес: </span>
                         <span  e-required editable-text="shop.address">{{ shop.address|| "empty" }}</span>
                      </div>
                        <div> 
                          <span class="title">Телефон: </span>
                         <span e-required editable-text="shop.phone">{{ shop.phone|| "empty" }}</span>
                      </div>
                        <div> 
                          <span class="title">Расписание: </span>
                         <span  e-required editable-text="shop.shedule">{{ shop.shedule|| "empty" }}</span>
                      </div>
                        <div> 
                          <span class="title">Широта: </span>
                         <span  e-required editable-text="shop.latitude">{{ shop.latitude|| "empty" }}</span>
                      </div>
                        <div> 
                          <span class="title">Долгота:  </span>
                         <span  e-required editable-text="shop.longitude">{{ shop.longitude|| "empty" }}</span>
                      </div>
                   

<div class="buttons margin-0-20">
    <!-- button to show form -->
    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Редактироваь
      </button>

      <button type="button" class="btn btn-default" ng-click="vm.deattachShop(shop)" ng-show="!editableForm.$visible">
        Удалить
      </button>
    <!-- buttons to submit / cancel form -->
    <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Сохранить
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Отмена
        </button>
      </span>
</div>

</form>
</div>

