<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Послать пуш сообщение</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Заголовок:              </label>
                    <input type="text" ng-model="vm.title"></textarea>
                </div>
               <div class="form-group">
                    <label class="control-label">Ссылка:              </label>
                    <input type="text" ng-model="vm.url"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Сообщение:              </label>
                    <textarea cols="65" lang="140" ng-model="vm.message"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">OC:              </label>
                    <input type="radio" name="OS"  ng-model="vm.OS.name" value="Android">Android</input>
                    <input type="radio" name="OS"  ng-model="vm.OS.name" value="iOS">iOS</input>
                    <input type="radio" name="OS"  ng-model="vm.OS.name" value="All">All</input>
                    
                </div>
                <button type="submit" class="btn btn-primary" ng-click="vm.sendPushNotification(vm.message, vm.targetId, vm.OS.name, vm.title, vm.url)">
                   Послать
                </button>
                <button type="button" class="btn btn-default" ng-click="close(false)" data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>