<div >
    {{organization.id}}   
</div>

<table st-table="organizations" st-select-mode="multiple" class="table table-striped">
	<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="organization in vm.organizations">
        <td cs-select="row"></td>
		<td>{{organization.name}}</td>
		<td>{{organization.description}}</td>
        <td><button type="button" ng-click="vm.editOrganization(organization)" class="btn btn-md btn-info">Edit</button></td>
        <td><button type="button" ng-click="vm.showShops(organization)" class="btn btn-md btn-primary">Shops</button></td>
		 <td><button type="button" ng-click="vm.showDiscountCards(organization)" class="btn btn-md btn-primary">Discount Cards</button></td>
        <td><button type="button" ng-click="vm.showCoupons(organization)" class="btn btn-md btn-primary">Coupons</button></td>
        <td><button type="button" ng-click="vm.showImages(organization)" class="btn btn-md btn-primary"><Images></Images></button></td>
	</tr>
	</tbody>
</table>

