<table st-table="users"  class="table table-striped">
	<thead>
	<tr>
		<th>Имя Фамилия</th>
		<th>Емэйл</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="user in vm.users">
		<td>{{user.firstName + ' ' + user.lastName || 'empty'}}</td>
		<td>{{user.email || 'empty'}}</td>
        <td><button type="button" ng-click="vm.editUser(user);"  class="btn btn-md btn-info">Редактировать</button></td>
        <td><button type="button" ng-click="vm.deleteUser(user);"  class="btn btn-md btn-info">Удалить</button></td>
		<td><button type="button" ng-click="vm.showOrgDiteils(user, vm.appConfig.DCARD_STR)" class="btn btn-md btn-primary">Диск. Картры</button></td>
        <td><button type="button" ng-click="vm.showOrgDiteils(user, vm.appConfig.COUPON_STR)" class="btn btn-md btn-primary">Купоны</button></td>
        <td><button type="button" ng-click="vm.showOrgDiteils(user, vm.appConfig.CERTIFICATE_STR)" class="btn btn-md btn-primary">Сертификаты</button></td>
        <td><button type="button" ng-click="vm.showOrgDiteils(user, vm.appConfig.SPECIALOFFER_STR)" class="btn btn-md btn-primary">Акции</button></td>
	</tr>
	</tbody>
</table>

