<section class="mainbar">
  <section class="matter">
    <!--Mange Panel-->
    <div class="jumbotron well">
      <button id='toggleFiltering' ng-click="vm.toggleFiltering()" class="btn btn-success">Toggle Filtering</button>
      <button ng-click="vm.getOrganizations()" class="btn btn-success">Refresh</button>
      <button ng-click="vm.mockOrganization()" class="btn btn-success">Add Organization</button>
      <button ng-click="vm.removeOrganizations()" class="btn btn-success">Delete Selected Organization</button>
      <button ng-click="vm.clearAllRows()" class="btn btn-success">Unselect All Rows</button>
      <label>Total Count : {{vm.organizationGridOptions.data.length}}</label>
    </div>
    <div class="container">
      <!--Grid-->
      <div id="organization-grid" ui-grid="vm.organizationGridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection
        class="myGrid"></div>
      <!--Discountcard-Container-->
      <div id="organization-discountcard-container" ng-show="vm.IsShowDiscountCardContainer" class="discountcard-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-repeat="(key,discountcard) in vm.currentDiscountCardArr"  ng-class="key == 0 ? 'col-lg-12' : 'col-lg-4 col-md-6 col-sm-6 col-xs-12'">
          <div class="grid-sub-container">
            <button ng-show="discountcard.objId > 0" type="button" class="close" data-dismiss="alert" aria-hidden="true" data-placement="left"
              title="Deattach Card" ng-click="vm.deattachDiscountCard(discountcard)" onmouseenter="$(this).tooltip('show')">×</button>
            <!--Discount-Image-Container-->
            <div class="grid-sub-container-images" ng-show = "discountcard.objId >= 0">

              <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachDiscountFrontImage($files, discountcard)">

                <img flow-btn ng-if="discountcard.frontSideImg.content !== ''" class="grid-sub-container-item" ng-src="data:image/JPEG;base64,{{discountcard.frontSideImg.content}}"
                  data-placement="left" title="Upload new Image" onmouseenter="$(this).tooltip('show')" height="180px" width="300px">

                <img flow-btn ng-if="discountcard.frontSideImg.content === ''" class="grid-sub-container-item" ng-src="/images/No-image-available.jpg"
                  data-placement="left" title="Upload new Image" onmouseenter="$(this).tooltip('show')" height="180px" width="300px">
              </div>
              <div flow-init="vm.flowConfig" flow-name="uploader.flow" flow-files-submitted="$flow.upload()" flow-single-file="true" flow-files-added="vm.attachDiscountBackImage($files, discountcard)">

                <img flow-btn ng-if="discountcard.backSideImg.content === ''" class="grid-sub-container-item" ng-src="/images/No-image-available.jpg"
                  data-placement="left" title="Upload new Image" onmouseenter="$(this).tooltip('show')" height="180px" width="300px">
                <img flow-btn ng-if="discountcard.backSideImg.content !== ''" class="grid-sub-container-item" data-placement="left" title="Upload new Image"
                  onmouseenter="$(this).tooltip('show')" ng-src="data:image/JPEG;base64,{{discountcard.backSideImg.content}}"
                  height="180px" width="300px">
              </div>
              <div class="grid-sub-container-item"><label>BarCode  :</label>&nbsp&nbsp<a onbeforesave="vm.saveDiscountCard(discountcard)" href="#" editable-text="discountcard.Barcode">{{ discountcard.barcode|| "empty" }}</a></div>
            </div>
              <div class="" ng-show="discountcard.objId < 0">
                    <button ng-show="discountcard.objId < 0" ng-click="discountcard.objId = 0; editableForm.$show();" class="btn btn-success">Add One</button>
           </div>
          </div>
        </div>
      </div>
      <!--Coupon-Container-->
      <div id="organization-coupon-container" ng-show="vm.IsShowCouponContainer" class="coupon-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-repeat="(key,coupon) in vm.currentCouponArr"  ng-class="key == 0 ? 'col-lg-12' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12'">
          <div class="grid-sub-container">
            <button ng-show="coupon.objId > 0" type="button" class="close" data-dismiss="alert" aria-hidden="true" data-placement="left"
              title="Delete Card" ng-click="vm.deattachCoupon(coupon)" onmouseenter="$(this).tooltip('show')">×</button>
            <!--Image-Container-->
            <div class="grid-sub-container-images" ng-show="coupon.objId >= 0">
              <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachCouponImage($files, coupon)">

                <img flow-btn ng-if="coupon.image.content !== ''" class="grid-sub-container-item" ng-src="data:image/JPEG;base64,{{coupon.image.content}}"
                  data-placement="left" title="Upload new Image" onmouseenter="$(this).tooltip('show')" height="180px" width="300px">

                <img flow-btn ng-if="coupon.image.content === ''" class="grid-sub-container-item" ng-src="/images/No-image-available.jpg"
                  data-placement="left" title="Upload new Image" onmouseenter="$(this).tooltip('show')" height="180px" width="300px">
              </div>
              <div class="grid-sub-container-item"><label> Description  :</label>&nbsp&nbsp<a onbeforesave="vm.saveCoupon(coupon)" href="#" editable-text="coupon.objDescription">{{ coupon.objDescription|| "empty" }}</a></div>
              <h2>Coupon Codes</h2>
              <div ng-repeat="code in coupon.couponCodes">
                <div class="input-group">
                  <input type="text" class="form-control" readonly="readonly" value="{{code.code}}" ">
                <span class="input-group-btn ">
                    <button ng-click ="code.isActive ? vm.deactivateCouponCodes(code) : vm.activateCouponCodes(code)"  ng-class="code.isActive ? 'btn btn-danger' : 'btn btn-success' " type="button ">{{code.isActive ? 'Diactivate' : 'Activate'}}</button>
                </span>
                
              </div>
            </div>
            <div style="padding:20px;"><button class="btn btn-primary" ng-click="vm.generateCouponCode(coupon)">Generate Coupon Code</button></div>
            
          </div>
           <div class="row" ng-show="coupon.objId < 0">
                    <button ng-show="coupon.objId < 0" ng-click="coupon.objId = 0; editableForm.$show();" class="btn btn-success">Add One</button>
           </div>
        </div>
     </div>
     </div>
  <div id="organization-shops-container" ng-show="vm.IsShowShopContainer" class="shop-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
        <div ng-repeat="(key,shop) in vm.currentShopArr " ng-class="key == 0 ? 'col-lg-12' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12'">
           <div class="grid-sub-container ">
          <button ng-show = "shop.objId > 0" type="button" class="close" data-dismiss="alert" aria-hidden="true"
                  data-placement="left" title="Deattach Shop" ng-click="vm.deattachShop(shop)" onmouseenter="$(this).tooltip('show')">×
                  </button>
                  <!--Field-Container-->
                  <div class="grid-sub-container-images" ng-show="shop.objId > 0">

                    <div class="grid-sub-container-item"><label>Name  :</label>&nbsp&nbsp<a onbeforesave="vm.saveShop(shop)" href="#" editable-text="shop.name">{{ shop.name|| "empty" }}</a></div>
                    <div class="grid-sub-container-item"><label>Address :</label>&nbsp&nbsp<a onbeforesave="vm.saveShop(shop)" href="#" editable-text="shop.address">{{ shop.address|| "empty" }}</a></div>
                    <div class="grid-sub-container-item"><label>City  :</label>&nbsp&nbsp<a onbeforesave="vm.saveShop(shop)" href="#" editable-text="shop.city">{{ shop.city|| "empty" }}</a></div>
                    <div class="grid-sub-container-item"><label>Phone :</label>&nbsp&nbsp<a onbeforesave="vm.saveShop(shop)" href="#" editable-text="shop.phone">{{ shop.phone|| "empty" }}</a></div>
                    <div class="grid-sub-container-item"><label>Shedule :</label>&nbsp&nbsp<a onbeforesave="vm.saveShop(shop)" href="#" editable-text="shop.shedule">{{ shop.shedule|| "empty" }}</a></div>
                    <div class="grid-sub-container-item"><label>Latitude :</label>&nbsp&nbsp<a onbeforesave="vm.saveShop(shop)" href="#" editable-text="shop.latitude">{{ shop.latitude|| "empty" }}</a></div>
                    <div class="grid-sub-container-item"><label>Longitude :</label>&nbsp&nbsp<a onbeforesave="vm.saveShop(shop)" href="#" editable-text="shop.longitude">{{ shop.longitude|| "empty" }}</a></div>
                  </div>
                  <div ng-show="shop.objId == 0">
                    <form class="form-horizontal" role="form" editable-form name="editableForm" onbeforesave="vm.saveShop(shop)">

                      <div class="form-group"> <label class="col-sm-2 control-label">Name:      </label>
                        <div class="col-sm-4"><span e-name="name" e-required editable-text="shop.name">{{ shop.name|| "empty" }}</span></div>
                      </div>
                      <div class="form-group"> <label class="col-sm-2 control-label">Address:   </label>
                        <div class="col-sm-4"><span e-name="name" e-required editable-text="shop.address">{{ shop.address|| "empty" }}</span></div>
                      </div>
                      <div class="form-group"> <label class="col-sm-2 control-label">City:      </label>
                        <div class="col-sm-4"><span e-name="name" e-required editable-text="shop.city">{{ shop.city|| "empty" }}</span></div>
                      </div>
                      <div class="form-group"> <label class="col-sm-2 control-label">Phone:     </label>
                        <div class="col-sm-4"><span e-name="name" e-required editable-text="shop.phone">{{ shop.phone|| "empty" }}</span></div>
                      </div>
                      <div class="form-group"> <label class="col-sm-2 control-label">Shedule:   </label>
                        <div class="col-sm-4"><span e-name="name" e-required editable-text="shop.shedule">{{ shop.shedule|| "empty" }}</span></div>
                      </div>
                      <div class="form-group"> <label class="col-sm-2 control-label">Latitude:  </label>
                        <div class="col-sm-4"><span e-name="name" e-required editable-text="shop.latitude">{{ shop.latitude|| "empty" }}</span></div>
                      </div>
                      <div class="form-group"> <label class="col-sm-2 control-label">Longitude: </label>
                        <div class="col-sm-4"><span e-name="name" e-required editable-text="shop.longitude">{{ shop.longitude|| "empty" }}</span></div>
                      </div>
                      <div class="buttons">

                        <!-- buttons to submit / cancel form -->
                        <span ng-show="editableForm.$visible">
                          <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                            Save
                          </button>
                          <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel(); shop.objId = -1">
                            Cancel
                          </button>
                        </span>
                      </div>
                    </form>


                  </div>
                  <div class="">
                    <button ng-show="shop.objId < 0" ng-click="shop.objId = 0; editableForm.$show();" class="btn btn-success">Add One</button>
                  </div>
                </div>
              
               </div>
            </div>
            <div id="organization-image-container" ng-show="vm.IsShowImageContainer" class="img-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div ng-repeat="(key,image) in vm.currentImageArr"  ng-class="key == 0 ? 'col-lg-12' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12'">
                <div class="grid-sub-container">
                  <button g-show="discountcard.objId > 0" type="button" class="close" data-dismiss="alert" aria-hidden="true" data-placement="left"
                    title="Deattach Image" ng-click="vm.deattachImage(image)" onmouseenter="$(this).tooltip('show')">×</button>
                  <!--Field-Container-->
                  <div class="grid-sub-container-images" ng-show = "image.objId > 0">
                    <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachOrganizationImage($files, image)">

                      <img flow-btn  ng-if="image.content !== ''" class="grid-sub-container-item" ng-src="data:image/JPEG;base64,{{image.content}}" height="180px"
                        width="300px">
                      <img flow-btn ng-if="image.content === ''" class="grid-sub-container-item" ng-src="/images/No-image-available.jpg" data-placement="left"
                        title="Upload new Image" onmouseenter="$(this).tooltip('show')" height="180px" width="300px">
                    </div>

                  </div>
                   <div class="grid-sub-container-images" ng-show = "image.objId === 0">
                    <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachOrganizationImage($files, image)">
                       <img flow-btn ng-if="alert('aa'); image.content === ''" class="grid-sub-container-item" ng-src="/images/No-image-available.jpg" data-placement="left"
                        title="Upload new Image" onmouseenter="$(this).tooltip('show')" height="180px" width="300px">

                   </div>
                  </div>
                  <button ng-show="image.objId < 0" ng-click="image.objId = 0; editableForm.$show();" class="btn btn-success">Add One</button>
                </div>
              </div>
            </div>

  </section>
</section>
<style>
  form .editable-input {
    min-width: 160px;
  }
  
  .row [class*="col-"] {
    padding: 10px;
  }
  
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  div[uib-datepicker-popup-wrap] {
    position: fixed;
    width: 490px;
  }
  
  .grid-sub-container-images img {
    cursor: pointer;
  }
  
  .editable-input {
    text-align: center;
  }
  
  .grid-sub-container {
    border-radius: 6px;
    text-align: center;
    height: 95%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2 4px -32px rgba(4, 3, 15, 0.15);
  }
  
  #organization-grid {
    margin-bottom: 20px;
  }
  
  .close {
    margin-right: -5px;
    margin-top: -10px;
  }
  
  .grid-sub-container-images {
    margin-top: 30px;
  }
  
  .text-alingc {
    text-align: left;
  }
  
  .grid-sub-container-item {
    padding-bottom: 10px;
  }
  
  #organization-grid .ui-grid-header-cell .ui-grid-cell-contents {
    text-align: center;
    vertical-align: -webkit-baseline-middle;
  }
  
  #organization-grid .ui-grid-cell {
    text-align: center;
    vertical-align: -webkit-baseline-middle;
  }
  
  .btn-vert-align {
    vertical-align: text-top;
  }
  
  .custom-cell-align {
    text-align: center;
    vertical-align: -webkit-baseline-middle;
  }
  
  #organization-grid .editable-text {
    vertical-align: text-top !important;
  }
</style>