<button type="button" ng-click="vm.addShare(1);" class="btn btn-md btn-info">Add Coupon</button>
<div ng-repeat="share in vm.currentOrganization.shares | filter:{ type: 1 } " class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <form class="jumbotron well" editable-form name="couponForm">

<div>
  <span class="title">Is Active: </span>
  <span e-required editable-select="share.isActive" e-ng-options="s.value as s.text for s in vm.statuses">{{ vm.showStatuses(share) }}</span>
</div>
<div>
  <span class="title"> Barcode : </span>
  <span e-required editable-text="share.barcode">{{ share.barcode|| "empty" }}</span>
</div>
<div>
  <span class="title">Description: </span>
  <span e-required editable-text="share.objDescription">{{ share.objDescription|| "empty" }}</span>
</div>
<div>
  <span class="title">Percentage: </span>
  <span e-required editable-text="share.percentage">{{ share.percentage|| "empty" }}</span>
</div>
<div>
  <span class="title">Date In New: </span>
  <a href="#" editable-bsdate="share.dateInNew" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy">
             {{ (share.dateInNew | date:"dd/MM/yyyy") || 'empty' }}
  </a>
 </div>
<img ng-src="{{vm.getImageUrl(share)}}" height="180px" width="300px"></img>


<div class="buttons margin-0-20">
  <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachImageToCoupon($files, share)">
    <button flow-btn class="btn btn-md btn-info">Add Image</button>
  </div>
  <!-- button to show form -->
  <button type="button" class="btn btn-default" ng-click="couponForm.$show()" ng-show="!couponForm.$visible">
        Edit
      </button>

  <button type="button" class="btn btn-default" ng-click="vm.deattachShare(share)" ng-show="!couponForm.$visible">
        Delete
      </button>
  <!-- buttons to submit / cancel form -->
  <span ng-show="couponForm.$visible">
        <button type="submit" class="btn btn-primary" ng-click="vm.saveShare(share)" ng-disabled="couponForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="couponForm.$waiting" ng-click="couponForm.$cancel()">
          Cancel
        </button>
      </span>
</div>

</form>
</div>