<button type="button" ng-click="vm.addShare(3);" class="btn btn-md btn-info">Добавить Акцию</button>
<div ng-repeat="share in vm.currentOrganization.shares | filter:{ type: 3 } "  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="jumbotron well">
    <form editable-form name="specialOferForm" onaftersave="vm.saveShare(share)">

      <div>
        <span class="title">Активный: </span>
        <span>{{ vm.showStatuses(share) }}</span>
      </div>
      <div>
        <span class="title"> Баркод : </span>
        <span>{{ share.barcode|| "empty" }}</span>
      </div>
      <div>
        <span class="title">Специальный Баркод : </span>
        <span e-placeholder="обязательно 9 знаков" editable-text="share.customBarcode">{{ share.customBarcode || "empty" }}</span>
      </div>
      <div class="form-group" ng-show="specialOferForm.$visible">
            <label class="control-label">Описание:              </label>
            <span ckeditor="vm.options" ng-model="share.objDescription" e-rows="7" e-cols="40" editable-textarea="share.objDescription">{{ share.objDescription || "empty" }}</span>
      </div>
    <div class="form-group" ng-show="!specialOferForm.$visible">
      <span class="title">Описание: </span>
      <span>{{ share.objDescription|| "empty" }}</span>
    </div>
      <div>
        <span class="title">Проценты: </span>
        <span e-required editable-text="share.percentage">{{ share.percentage|| "empty" }}</span>
      </div>
      <div>
        <span class="title">Дата окончания</span>
        <a href="#" editable-bsdate="share.timeLimit" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy">
             {{ (share.timeLimit | date:"dd/MM/yyyy") || 'empty' }}
    </a>
      </div>
      <div>
        <span class="title">Лимит по колличеству: </span>
        <span editable-text="share.countLimit">{{ share.countLimit || "empty" }}</span>
      </div>
      <div>
        <span class="title">Ссылка на сайт: </span>
        <span editable-text="share.detailsUrl">{{ share.detailsUrl || "empty" }}</span>
      </div>
      <img ng-src="{{vm.getImageUrl(share)}}" height="180px" width="300px"></img>


      <div class="buttons margin-0-20">

        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="specialOferForm.$show()" ng-show="!specialOferForm.$visible">
        Редактировать
      </button>
      <button type="button" class="btn btn-default" ng-click="vm.showMessageWindowForShare(share.objId)" ng-show="!specialOferForm.$visible">
        Послать Push
      </button>
        <button type="button" class="btn btn-default" ng-click="vm.deattachShare(share)" ng-show="!specialOferForm.$visible">
        Удалить
      </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="specialOferForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="specialOferForm.$waiting">
          Сохранить
        </button>
        <button type="button" class="btn btn-default" ng-disabled="specialOferForm.$waiting" ng-click="specialOferForm.$cancel()">
          Отмена
        </button>
      </span>
      </div>

    </form>
    <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachImageToCoupon($files, share)">
      <button flow-btn class="btn btn-md btn-info">{{share.images.length > 0 ? 'Обновить Картинку': 'Добавить Картинку'}}</button>
    </div>
  </div>
</div>