<div ng-repeat="discountcard in vm.currentOrganization.discountCards" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <form class="jumbotron well" editable-form name="editableForm" onbeforesave="vm.saveDiscountCard(discountcard)">


<div>
    <span class="title">Barcode: </span>
    <span e-required editable-text="discountcard.barcode">{{ discountcard.barcode || "empty" }}</span>
</div>
<div>
    <span class="title">Percentage: </span>
    <span e-required editable-text="discountcard.percentage">{{ discountcard.percentage || "empty" }}</span>
</div>

 <img ng-src="{{vm.appConfig.IMAGE_URL + discountcard.frontSideImage.name}}" alt="">
 <img ng-src="{{vm.appConfig.IMAGE_URL + discountcard.backSideImage.name}}" alt="">


<div class="buttons margin-0-20">
    <!-- button to show form -->
    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
    <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachDiscountFrontImage($files, discountcard)">
        <button flow-btn type="button" class="btn btn-default" ng-show="!editableForm.$visible">
            Upload Front Image
        </button>
    </div>
    <div flow-init="vm.flowConfig" flow-single-file="true" flow-files-submitted="$flow.upload()" flow-files-added="vm.attachDiscountBackImage($files, discountcard)">
        <button flow-btn type="button" class="btn btn-default" ng-show="!editableForm.$visible">
            Upload Back Image
        </button>
    </div>
    <button type="button" class="btn btn-default" ng-click="vm.deattachDiscountCard(discountcard)" ng-show="!editableForm.$visible">
        Delete
    </button>
    <!-- buttons to submit / cancel form -->
    <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
</div>
</form>
</div>